/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.color-nav {
  background-color: #28a745;
}

.claimed-by-me .item-text,
.claimed-by-other .item-text {
  text-decoration: line-through;
}

.claimed-by-me {
  background-color: rgba(40, 167, 60, 0.5);
}

.claimed-by-other {
  background-color: rgba(174, 174, 174, 1);
}


.emoji-button {
  background-color: white;
}